*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.container{
    margin:0 auto;
    max-width: 360px;
}
 
.card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 17px;
    padding: 18px;
    text-align: center;
    margin: 0 1.5rem;
}
.card img{
    width: 100%;
    border-radius: 12px;

}

.text {
    padding: 22px 10px;
}

.text h2{
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
}

.text p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    
    font-weight: 400;
    text-align: center;
    
}